.btn-orange {
    color: #fff;
    font-size: 1.7rem;
    line-height: 100%;
    font-weight: 300;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    background-color: #ff6900;
    border-radius: 2rem;
    transition: 0.4s;
    border: none;
    max-width: 343px;
}

.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
    background-color: #ff8835;
    border: none;
    outline: none;
}
