.game-screen-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 288.9rem;
  background-image: url("../../assets/images/screens/gamescreen.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-repeat: repeat-x; /* Повторяем фон по горизонтали */
  background-size: cover; /* Растягиваем изображение */
  will-change: background-position; /* Оптимизация отрисовки */
  z-index: -1; /* Отправляем фон на задний план */
}

/* .game-screen-background img {
  height: 100%;
} */

@keyframes bg {
  0% {
    /* background-position-x: left; */
    transform: translateX(0%);
    /* left: 0; */
  }
  100% {
    /* background-position-x: right; */
    transform: translateX(-87%);
    /* left: auto;
    right: 0; */
  }
}
