.game-screen-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 288.9rem;
  background-image: url("https://static-basket-02.wbbasket.ru/vol29/landings/runner/gamescreen.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-repeat: repeat-x;
  background-size: cover;
  will-change: background-position;
  z-index: -1;
}


@keyframes bg {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-87%);
  }
}
