@import url('../../assets/styles/fonts.css');
.start-screen {
    background-image: url('https://static-basket-02.wbbasket.ru/vol29/landings/runner/startscreen.webp');
}

.hidden {
    animation: fadeAway 0.5s linear 0s 1 normal forwards;
}

@keyframes fadeAway {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.start-container {
    width: 100%;
    height: 100%;
    padding: 5vh 1.6rem 4vh 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    will-change: filter;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    position: relative;
    transition: 0.4s;
}

.start-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    position: relative;
}

.logo {
    margin: 0;
    margin-top: 1.7vh;
    margin-bottom: 4.3vh;
    width: 24.9vw;
    max-width: 9rem;
}

.logo img {
    max-width: 100%;
    display: block;
}

.text {
    font-family: 'ALSHauss-thin';
    color: #fff;
    font-size: 1.6rem;
    line-height: 2.08rem;
    font-weight: 300;
    text-align: center;
}

.person {
    position: absolute;

    height: 85%;
    max-height: 50rem;
    z-index: 5;
    /* display: flex;
    justify-content: center; */
    will-change: transform;
    left: 50%;
    bottom: -25.5%;
    transform: translateX(-50%) rotate(0deg);
    transform-origin: 50% bottom;
    transform-box: border-box;
    transition: 0.4s;

    backface-visibility: hidden;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    animation: startPerson2 2s linear 0s infinite normal forwards;
}

.person img {
    display: block;
    height: 100%;
}

.btn {
    margin-top: auto;
    position: relative;
    z-index: 10;
    width: 100%;
    font-family: 'ALSHauss-thin';
    cursor: pointer;
}

@media (min-width: 600px) {
    .person {
        max-height: none;
    }
}

/* @media only screen and (orientation: landscape) and (min-device-width: 320px) and (max-device-width: 1024px) and (min-device-aspect-ratio: 1.1) {
    .logo {
        margin-bottom: 15px;
    }
} */

@keyframes startPerson2 {
    0% {
        left: 50%;
        bottom: -25.5%;
        transform: translateX(-50%) rotate(0deg);
    }

    7.5% {
        left: 50%;
        bottom: -19.5%;
        transform: translateX(-50%) rotate(0deg);
    }

    15% {
        left: 50%;
        bottom: -25.5%;
        transform: translateX(-50%) rotate(-5deg);
    }
    22.5% {
        left: 50%;
        bottom: -19.5%;
        transform: translateX(-50%) rotate(0deg);
    }
    30% {
        left: 50%;
        bottom: -25.5%;

        transform: translateX(-50%) rotate(5deg);
    }
    37.5% {
        left: 50%;
        bottom: -19.5%;
        transform: translateX(-50%) rotate(0deg);
    }
    45% {
        left: 50%;
        bottom: -25.5%;
        transform: translateX(-50%) rotate(-5deg);
    }
    52.5% {
        left: 50%;
        bottom: -19.5%;
        transform: translateX(-50%) rotate(0deg);
    }
    60% {
        left: 50%;
        bottom: -25.5%;

        transform: translateX(-50%) rotate(0deg);
    }
    75% {
        left: 50%;
        bottom: -25.5%;
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        left: 50%;
        bottom: -25.5%;
        transform: translateX(-50%) rotate(0deg);
    }
}
