.game-screen {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3.4rem 1.6rem 2.4rem 1.6rem;
}

.game-field {
  height: 50%;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
