/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.person {
    position: absolute;
    bottom: 23%;
    left: 12%;
    width: 7rem;
    max-width: 13rem;
    height: 41%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    z-index: 100;
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.person-body {
    position: absolute;
    height: 95%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.body {
    height: 90%;
    z-index: 5;
    bottom: 18%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.legs-threshold {
    position: absolute;
    height: 30%;
    width: 30%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-36%);
    -ms-transform: translateX(-36%);
    transform: translateX(-36%);
}

.left-leg {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 1;
    height: 27%;
    bottom: -0%;
    left: 50%;
    -webkit-transform-origin: 19% top;
    -ms-transform-origin: 19% top;
    transform-origin: 19% top;
    -ms-transform: translateX(-74%) rotate(20deg);
    transform: translateX(-74%) rotate(20deg);
    -webkit-transform: translateX(-74%) rotate(20deg);
    transform-box: border-box;
}

.right-leg {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 7;
    height: 30%;
    bottom: -3%;
    left: 50%;

    -ms-transform: translateX(-62%) rotate(-21deg);
    transform: translateX(-62%) rotate(-21deg);
    -webkit-transform: translateX(-62%) rotate(-21deg);
    -webkit-transform-origin: 19% top;
    -ms-transform-origin: 19% top;
    transform-origin: 19% top;
    transform-box: border-box;
}

.right-leg.paused {
    animation-play-state: paused;
}

.body-img {
    display: block;
    height: 100%;
    width: auto;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
}

@-webkit-keyframes rightLeg {
    from {
        bottom: -3%;
        transform: translateX(-62%) rotate(-21deg);
        -webkit-transform: translateX(-62%) rotate(-21deg);
    }

    to {
        bottom: -2%;
        transform: translateX(-77%) rotate(19deg);
        -webkit-transform: translateX(-77%) rotate(19deg);
    }
}

@keyframes rightLeg {
    from {
        bottom: -3%;
        transform: translateX(-62%) rotate(-21deg);
        -webkit-transform: translateX(-62%) rotate(-21deg);
    }

    to {
        bottom: -2%;
        transform: translateX(-77%) rotate(19deg);
        -webkit-transform: translateX(-77%) rotate(19deg);
    }
}

@-webkit-keyframes leftLeg {
    from {
        bottom: -0%;
        transform: translateX(-74%) rotate(20deg);
        -webkit-transform: translateX(-74%) rotate(20deg);
    }

    to {
        bottom: -0%;
        transform: translateX(-41%) rotate(-21deg);
        -webkit-transform: translateX(-41%) rotate(-21deg);
    }
}

@keyframes leftLeg {
    from {
        bottom: -0%;
        transform: translateX(-74%) rotate(20deg);
        -webkit-transform: translateX(-74%) rotate(20deg);
    }

    to {
        bottom: -0%;
        transform: translateX(-41%) rotate(-21deg);
        -webkit-transform: translateX(-41%) rotate(-21deg);
    }
}

@-webkit-keyframes jump {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    50% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    50% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes body {
    0% {
        transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
    }
    50% {
        transform: translate(-50%, -2%);
        -webkit-transform: translate(-50%, -2%);
    }
    100% {
        transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
    }
}

@keyframes body {
    0% {
        transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
    }
    50% {
        transform: translate(-50%, -2%);
        -webkit-transform: translate(-50%, -2%);
    }
    100% {
        transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
    }
}
